header{
    background-image: radial-gradient(yellow , #dc63b1);
}
.img1{
    width: 500px;
    height: 350px;
    text-align: center;
    margin-left: 410px;
    margin-top: 20px;
}
.frase{
    font-weight: 900px;
    padding-left: 415px;
    font-size:35px;
    padding-top: 20px;
    font-style: oblique;
}
body{
    background-image:url(img_tp/fondo1.jpg);
    padding-left: 15px;
    padding-right: 15px;
}
h2{
    padding-left: 15px;
}
p{
    padding-left: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
ul{
    padding-left: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.salud1{
    padding-left: 50px;
    width: 400px;
    height: 250px;
}
#tam{
    
    height: 450px;
    margin: 0%;
}
section{
    width: 750px;
    margin-left: 300px;
}
.infomia{
    text-align: right;
}


